{% extends "layout.html" %}

{% block title %}
    authentication
{% endblock %}
{% block main %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Warning!</h4>
  <p>Please enter authentication code sent to you.</p>
  <hr>
  <p class="mb-0">The code will expire within few seconds.</p>
</div>
<br>
<form action="/authenticate" method="post">
  <div class="container">
    <label for="code"><h5>Authentication Code</h5></label>
    <input type="text" placeholder="Enter Authentication code" name="code" id="code" required style="width:100%;height:50px;">
    <button class="btn btn-primary" type="submit">Verify</button>
  </div>

</form>
{% endblock %}
