{% extends "layout.html" %}

{% block title %}
    Coach Table
{% endblock %}
{% block main %}
<div class="container">
  <h2>Coaches </h2>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Coach_ID</th>
        <th>F_Name</th>
        <th>L_Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Year_Hired</th>
        <th>Team_ID</th>
      </tr>
    </thead>
    <tbody>
      {% for row in res %}
                <tr>
                    <td>{{ row.Coach_ID }}</td>
                    <td>{{ row.F_Name }}</td>
                    <td>{{ row.L_Name }}</td>
                    <td>{{ row.Age }}</td>
                    <td>{{ row.Salary }}</td>
                    <td>{{ row.Year_Hired }}</td>
                    <td>{{ row.Team_ID }}</td>

                </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
