{% extends "layout.html" %}

{% block title %}
    Stadiums
{% endblock %}
{% block main %}

<div class="container">
  <h2>Stadiums</h2>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Stadium ID</th>
        <th>Team ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Capacity</th>
      </tr>
    </thead>
    <tbody>
      {% for row in res %}
                <tr>
                  <td>{{ row.Stadium_ID }}</td>
                  <td>{{ row.Team_ID }}</td>
                  <td>{{ row.Name }}</td>
                  <td>{{ row.Location }}</td>
                  <td>{{ row.Stadium_Population }}</td>
                </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
